$fontStack: Helvetica, sans-serif;
$backgroundColor: white;
$color5: #735D78;
$color4: #B392AC;
$color3: #D1B3C4;
$color2: #E8C2CA;
$color1: #F7D1CD;

body {
  background-color: $color2;
  width: 480px;
  margin: 0 auto;
  border-radius: 25px;
  font: 100% $fontStack;
}

#root {
  background-color: $backgroundColor;
  height: 420px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px  5px $color4;
  border-radius: 5px;
}

header {
  width: 360px;
  padding: 5px 10px;
  margin: 0 auto;

  h1 {
    text-align: center;
    font-size: 1.5em;
    color: $color5;
  }
}

.counter {
  padding: 5px 10px;
  margin: 10px;
  color: $color4;

  h4 {
    font-size: 4em;
    text-align: center;
  }

  button {
    margin: 5px auto;
    display: block;
    width: 240px;
  }
}

.warning {
  color: red;
}

footer {
  margin: 10px 0;
  padding: 5px 10px;
  text-align: center;
  font-size: small;
  color: $color3;
}
